@model And.Eticaret.Core.Model.Entity.Category

@{
    ViewBag.Title = "Create";
}
<br />
<h2>Kategori Ekle</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ParentID, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.ParentID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ParentID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-3">Kategori Adı</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-3" })*@
            <label class="control-label col-md-3">IsActive   </label>
            <div class="col-md-9">
                <div class="checkbox">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.EditorFor(model => model.IsActive)
                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.CreateDate, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-3">Oluşturma Tarihi</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.CreateDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CreateDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.CreateUserID, htmlAttributes: new { @class = "control-label col-md-3" })*@
            <label class="control-label col-md-3">Oluşturan Kullanıcı Id</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.CreateUserID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CreateUserID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.UpdateDate, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-3">Güncelleme Tarihi</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.UpdateDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UpdateDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.UpdateUserID, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-3">Güncelleyen Kullanıcı Id</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.UpdateUserID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UpdateUserID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" value="Create" class="btn btn-default guncellemebuton" style="margin-left:5px;border: 2px solid red;">
                    <span class='fa-stack fa-lg'>
                        <i class='fas fa-circle fa-stack-2x' style="color:red"></i>
                        <i class='fas fa-list fa-stack-1x fa-inverse'></i>
                    </span> Kategori Ekle
                </button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(" Geri Dön", "Index", new { }, new { @class = "btn btn-default fas fa-backward", style = "color:green" })
</div>

<br />
<br />
<br />
<style>
    .guncellemebuton {
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        color: green;
        background-color: white;
    }

        .guncellemebuton:hover {
            background-color: green;
            color: white;
        }
</style>